
body {
  background-color: #FEFEFE;
  padding: 4px;
  line-height: 3rem;
  font-family: "Droid Sans Mono", "monospace", monospace;
}

#phiddenDiv {
  white-space: pre-line;
}

#lenInput {
  width: 4rem;
}

#checkboxs {
  opacity: 0.5;
  pointer-events: none;
}

#customModeRadio:checked ~ #checkboxs {
  opacity: 1;
  pointer-events: auto;
}